spring:
  application:
    name: gourmet-agent
  ai:
    openai:
      api-key: ${OPENAI_API_KEY}
      chat:
        options:
          model: gpt-4.1-mini
      embedding:
        options:
          model: text-embedding-3-small
    vectorstore:
      pgvector:
        initialize-schema: false # 최초 사용시엔 true로 설정.
        table-name: gourmet_vector
        index-type: HNSW
        distance-type: COSINE_DISTANCE
        dimensions: 1536
        max-document-batch-size: 10000
    chat:
      memory:
        repository:
          jdbc:
            initialize-schema: always
    mcp:
      client:
        stdio:
#          servers-configuration: "classpath:mcp-servers.json"
          connections:
            slack:
              command: npx
              args:
                - "-y"
                - "@modelcontextprotocol/server-slack"
              env:
                SLACK_BOT_TOKEN: "${SLACK_BOT_TOKEN}"
                SLACK_TEAM_ID: "${SLACK_TEAM_ID}"
                SLACK_CHANNEL_IDS: "${SLACK_CHANNEL_IDS}"
  datasource:
    url: ${DATABASE_URL}
    driver-class-name: org.postgresql.Driver
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update

server:
  port: 8081
